/* .logo {
  height: 5.2rem;
} */

.logo {
  height: 5.2rem;
}

/* استعلامات الوسائط للشاشات المتوسطة */
@media screen and (max-width: 768px) {
  .logo {
    height: 4rem; /* تقليل ارتفاع الشعار للشاشات المتوسطة */
  }
}

/* استعلامات الوسائط للشاشات الصغيرة */
@media screen and (max-width: 480px) {
  .logo {
    height: 3rem; /* تقليل ارتفاع الشعار بشكل أكبر للشاشات الصغيرة */
  }
}
